{% extends "::base.html.twig" %}

{% block body %}
    <h1>List of News marked as deleted</h1>

    <a href="{{ path('news_add') }}">Add News</a>
    <a href="{{ path('news_list_order', {'order': 'asc'}) }}">Show in ascending order</a>
    <a href="{{ path('news_list_order', {'order': 'desc'}) }}">Show in descending order</a>
    <a href="{{ path('news_list') }}">Active news list</a>
    </hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>News title</th>
                <th>Views</th>
                <th>News weight</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% if news|length > 0 %}
            {% for newsItem in news %}
                <tr>
                    <td>
                        <a href="{{ path('news_view', { 'identifier': newsItem.identifier }) }}">{{ newsItem.getTitle }}</a>
                    </td>
                    <td>
                        {{ newsItem.views }}
                    </td>
                    <td>
                        {{ newsItem.newsWeight|newsWeight }}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ path('news_restore', { 'identifier': newsItem.identifier }) }}" title="Restore news">
                            Restore news
                        </a><br />
                        {{ form_start(deleteForms[newsItem.identifier], { attr: { 'class': 'inline' }}) }}
                            {{ form_widget(deleteForms[newsItem.identifier]._token) }}
                            <button class="btn btn-default" title="Delete" onclick="if(!confirm('Are you sure? You will lose this news permanently.')) { return false; }">Remove from database</button>
                        {{ form_end(deleteForms[newsItem.identifier]) }}
                        {#<a href="#" title="Remove from list (hard)" onclick="if(!confirm('Are you sure? You will lose this news permanently.')) { return false; }">
                            Remove from database
                        </a>#}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">
                    No results.
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock body %}